# =======================================================================
# Compilación de Cabal / GHC
# =======================================================================
dist-newstyle/
dist/
*.o
*.hi
*.chi
*.chs.h

# =======================================================================
# Archivos de perfilado y logs
# =======================================================================
*.prof
*.hp
*.eventlog

# =======================================================================
# Haskell Language Server (HLS)
# =======================================================================
.hie/
cabal.project.local
cabal.project.local~

# =======================================================================
# Editor (Neovim / Vim)
# =======================================================================
*.swp
*.swo
*~
Session.vim
tags

# =======================================================================
# Los archivos de output
# =======================================================================
output/*
!output/.gitkeep

# =======================================================================
# Archivos auxiliares y de log de LaTeX
# =======================================================================
*.aux
*.log
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# =======================================================================
# Archivos temporales específicos de procesos de compilación anteriores
# =======================================================================
pdflatex*.fls
